body {
    background: #eee;
}

button {
    outline: none;
}


@media (max-width: 1199px) {

    div .responsive-menu,
    div .lower-sub-menu {
        width: 250px;
    }
}

@media (max-width: 991px) {
    div .card {
        margin: 0;
    }
}

@media (max-width: 768px) {
    div #your-phone {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    div .output-phone {
        width: 90%;

    }

    div .btn-phone {
        color: #fff;
        width: 200px;
    }
}

@media (max-width: 400px) {
    div .buy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    div .phone-options {
        margin-right: 5px;
    }
}

.white {
    background: #fff;
}

.responsive-menu {
    display: block;
    width: 300px;
    position: static;
    height: 1500px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: linear-gradient(to bottom, #fff, #eee);
}


.card {
    width: 100%;
    height: auto;
    margin: 30px 50px;
    padding: 50px;
}

.image-item,
.image-item-mini {
    display: block;
    width: 100%;
    height: 100%;
}

.image-item-mini {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    max-width: 150px;
    height: auto;
}


.image-item img,
.image-item-mini img {
    width: 100%;
    height: 100%;
}

#flexable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.item-header {
    text-align: left;
    margin-top: 50px;
    color: #333;
}

.buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.buy span {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.btn-buy,
.phone-options {
    font-size: 16px;
    width: 110px;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    border: none;
    margin-right: 20px;
}

.gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc33cc), to(#ff6699));
    background-image: linear-gradient(180deg, #cc33cc, #ff6699);
}

.gradient:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.shop-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
}

.font {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.font span {
    font-size: 28px;
    margin: auto;
    color: #ff6699;
}

.btn-buy-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.color-choose,
.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.block-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 10px;
    margin-left: 0px;
}

.black {
    background: black;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.border-bold {
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
}

.decorator {
    margin: 25px 0;
}

.phone-options {
    position: relative;
    width: 60px;
    height: 30px;
    color: #aaa;
    padding: 5px 10px;
}

.phone-options span {
    font-size: 14px;
    margin: auto;
}

.font-options {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 56px;
    height: 26px;
    background: #fff;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.phone-options:hover .font-options {
    color: #fff;
    background: #aaa;
}

/*   tabs start  */

.tab-description {
    margin-top: 30px;
}

.tabs {
    list-style: none;
    margin-bottom: -1px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    background: #fff;
    border-bottom: 2px solid #ddd;
}

.tab_content {
    border: 2px solid #ddd;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 200px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.tab_item {
    height: 200px;
    padding-bottom: 20px;
    overflow: hidden;
}


.active {
    border-bottom: 2px solid #0000ff;
    z-index: 400;
}

.btn-height {
    margin: 10px auto;
    width: 35px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(50, 50, 50, 0.5);
    border: none;
}

.btn-height:hover {
    opacity: 0.7;
}

.btn-height .point {
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    margin: 0 1px;
}

.height-auto {
    height: auto;
}

/*   tabs end  */

#your-phone {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.output-phone {
    width: 60%;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #eee;
}

.btn-phone {
    color: #fff;
    width: 30%;
    height: 50px;
    font-size: 12px;
    border-radius: 30px;
}

.default-style {
    background: transparent;
    margin-top: 0;
    padding: 0;
}

.new-good {
    width: 200px;
}

/*   modal window   */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
}

#modal {
    position: relative;
    margin: 60px auto;
    width: 600px;
    max-width: 90%;
    height: 800px;
    max-height: 90%;
    border-radius: 20px;
    background: #ddd;
    z-index: 550;
    text-align: center;
}

#modal img {
    margin: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.visible {
    display: block;
}

.no-scroll{
    overflow: hidden;
}
