/*   FONTS   */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src:
        local('libs/fonts/Open Sans/OpenSans-Regular') format('ttf'),
        url('libs/fonts/Open Sans/OpenSans-Regular') format('ttf');
}

@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: normal;
    src:
        local('libs/fonts/Geometria/Geometria.otf') format('otf'), url('libs/fonts/Geometria/Geometria.otf') format('otf'),
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.wrapper {
    height: auto;
    margin: auto;
}

a:hover {
    text-decoration: none;
}

/*   MEDIA  */

@media (max-width: 1199px) {

    div .map-position script {
        width: 100%;
    }
}

@media (max-width: 991px) {

    header .logotype,
    header .callback-info,
    header .main-menu,
    header .service {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    div .btn-catalog,
    div .apple-room,
    div .btn-dark span,
    div .info {
        display: none;
    }

    .slide-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .slide .slide-part-left {
        height: 100%;
        margin: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    div .map-position {
        margin-top: 220px;
    }

    footer .footer-position {
        height: 90px;
    }
}

@media (max-width: 768px) {
    .slide-inner .slide-headline {
        font-size: 40px;
    }

    form .input-area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    form .half-width {
        width: 100%;
    }

    div .map-position {
        margin-top: 330px;
    }

    div .footer-submenu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer .footer-submenu a {
        font-size: 18px;
        padding: 15px 0;
        color: #fff;
        width: 150px;
        text-align: center;
    }
}

@media (max-width: 420px) {
    div .section-header {
        font-size: 20px;
    }
}


/*   Header   */

header {
    background: #1f1f1f;
    width: 100%;
    height: 80px;
    padding: 0;
    color: #fff;
    position: relative;
}

.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.double-btn {
    display: block;
}

.btn-menu {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

/*   Menu   */

.responsive-menu {
    background: #fff;
    position: absolute;
    left: 15px;
    top: 100%;
    width: 300px;
    height: auto;
    display: none;
    z-index: 100;
    padding-bottom: 10px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}

.search-area {
    position: relative;
    margin-bottom: 15px;
    color: #333;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
}

.search-line {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding-left: 33px;
    background: #ddd;
    border: none;
}

.sub-menu {
    list-style: none;
    padding: 0;
}

.sub-menu .list-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.sub-menu a {
    font-size: 15px;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 5px;
}

.sub-menu .list-item:hover {
    border-bottom: 1px solid #cc33cc;
}

.sub-menu .list-item:hover span{
    color: #cc33cc;
}

.fa-lg {
    color: #777;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}

.fa-snowflake {
    margin: 5px;
}

.lower-sub-menu {
    list-style: none;
    background: #ddd;
    width: 300px;
    height: auto;
    margin-left: -20px;
    display: none;
}

.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.visible-block {
    display: block;
}

.rotation {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*   Menu end  */


.btn-open-menu {
    background: #4c4c4c;
    height: 80px;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-open-menu .bar {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 3px auto;
}

.btn-catalog {
    background: #1f1f1f;
    color: #fff;
    font-size: 16px;
    padding: 30px;
}

.btn-catalog:hover {
    background: #1f1f1f;
    color: #fff;
}

.logotype {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.logotype .link-main {
    font-family: 'Geometria';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 80px;
    color: #fff;
}

.logotype .link-main:hover {
    text-decoration: none;
}

.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.btn-dark {
    background: #1f1f1f;
    color: #fff;
}

.btn-dark:hover {
    color: #fff;
    background: #4c4c4c;
}

.callback-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.electronic-bag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.electronic-bag img {
    margin: auto;
}

.electronic-bag .buy-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.electronic-bag .buy-now:hover {
    background: #4c4c4c;
}

.info {
    font-family: 'Geometria';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.address {
    margin: 0;
}

.on-distance {
    margin: 10px;
}


/*   Slider   */

.slider {
    width: 100%;
    min-height: 610px;
    background-repeat: no-repeat;
    background-position: 0px -800px;
}

.slide {
    position: relative;
    width: 100%;
    min-height: 610px;
}

.bg-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-slider-image img {
    width: 100%;
    height: 100%;
}

.slide-inner {
    padding: 40px;
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slide-part-left {
    z-index: 2500;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.slide-headline {
    font-size: 60px;
    font-weight: 200;
}

.btn-price {
    width: 225px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc33cc), to(#ff6699));
    background-image: linear-gradient(180deg, #cc33cc, #ff6699);
}

.btn-price:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.slide-part-right {
    z-index: 2500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slide-image {
    width: 100%;
    height: 100%;
}

.slide-part-right img {
    width: 100%;
    height: 100%;
}

.slider .slick-dots {
    bottom: 20px;
}

.slick-dots li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #333;
}

.slick-dots li button:before {
    content: "";
}

.slick-dots li button:hover {
    border: 2px solid #333;
}

.slick-dots li button:active,
.slick-dots li button:focus{
    background: #cc33cc;
    border: 2px solid #cc33cc;
}

/*   New-goods   */

.section-header {
    text-align: center;
    font-size: 30px;
    margin: 60px;
}

.separator {
    text-align: center;
    width: 160px;
    margin: 0;
}

.new-good {
    background: #fff;
    display: block;
    border-radius: 10px;
    width: 240px;
    height: 400px;
    margin: 10px auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.new-good:hover {
    background: #fff;
    -webkit-box-shadow:
        3px 0 2px #cccccc,
        -3px 0 2px #cccccc;
    box-shadow:
        3px 0 2px #cccccc,
        -3px 0 2px #cccccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.good-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.good-image img {
    margin: auto;
}

.card-item {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333333;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px;
}

.good-description {
    font-size: 18px;
    text-align: center;
}

.price span {
    font-size: 18px;
}

.wrap {
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.wrap:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc33cc), to(#ff6699));
    background-image: linear-gradient(180deg, #cc33cc, #ff6699);
}

.to-shop-cart {
    position: absolute;
    width: 116px;
    height: 36px;
    top: 2px;
    left: 2px;
    border-radius: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.buy {
    margin: auto;
}


/*   Contacts  */

.contacts-header {
    font-size: 25px;
    font-weight: bold;
}

.half-width {
    margin: 15px 15px 15px 0;
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.half-width input {
    height: 45px;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}

.input-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.upper-indent {
    margin-top: 20px;
}

.message {
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    width: 100%;
    height: 150px;
}

.black {
    color: #000;
}

.btn-send {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc33cc), to(#ff6699));
    background-image: linear-gradient(180deg, #cc33cc, #ff6699);
}

.btn-send:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.map-position {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}


.map-position script {
    margin: 100px auto;
}

/*   footer   */

footer {
    width: 100%;
    height: auto;
    background: #1f1f1f;
}

.footer-submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.footer-submenu a {
    display: block;
    font-size: 18px;
    padding: 30px 0;
    color: #fff;
    width: 200px;
    text-align: center;
}

.footer-submenu a:hover {
    background: #222;
}

.footer-submenu {
    border-bottom: 1px solid #fff;
}

.logo-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-bottom a {
    font-family: 'Geometria';
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.logotype img {
    margin: auto;
    padding-bottom: 10px;
}


.copyright {
    font-family: 'Geometria';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.copyright-info {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.footer-position {
    height: 190px;
}

.social-webs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-webs a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    margin: 0 5px;
}

.social-webs a:hover {
    background: #222;
}

/*----------- map -----------*/

.container-map {
    position: relative;
    z-index: 30;
    height: 400px;
}

.container-map-contact {
    position: absolute;
    background: #3d3d3dba;
    padding: 20px;
    border-radius: 1px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    z-index: 40;
    height: 400px;
}

@media(max-width: 767px) {
    .container-map-contact {
        position: relative;
    }
}

.contact-map-title {
    font-weight: 500;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 46px;
}

.contact-map {
    color: #2b2b2b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-map-all-contacts {
    position: absolute;
    bottom: 30px;
}

.link-all-contacts {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #bb000b;
}

.link-all-contacts:hover {
    text-decoration: none;
}

.link-all-contacts:focus {
    text-decoration: none;
}

.contact-map-text {
    font-size: 18px;
}

